<p>Greetings from the Innovation Resources Database,</p>
<p>&nbsp;</p>
<p>Congratulations, your organization and resources have been added to the <a href="bit.ly/in-resources">Innovation Resources Database</a> used by UC Berkeley and the City of Berkely and beyond. This is a collaborative resource used by multiple departments to provide access to up-to-date information to support innovators and entrepreneurs.&nbsp;</p>
<p><strong>As a reminder, we have already added a description and tagged your resource to make it more findable and sortable. Please take a look at the description and tags and make updates as you see fit.</strong>&nbsp;</p>
<p style="text-align: center;">PLEASE CLICK HERE to CONFIRM or EDIT your resource description [button]&nbsp;</p>
<p>If we do not hear back, we will assume that the description is approved.</p>
<p>Please note: to ensure that this database is useful and relevant, we will reach out to you once a year to ensure that the content is still accurate. (We will also notify you if your url is broken or a funding deadline passes so you may make those updates.)</p>
<p>Thank you for supporting the innovation ecosystem at Cal and beyond as we scale.</p>
<p>If you have any questions, please email [tbd &ndash; <a href="mailto:in-resources@berkeley.edu">in-resources@berkeley.edu</a> which will forward to me for now].</p>
<p>&nbsp;</p>
<p>Cheers,</p>
<p>Jill Finlayson</p>
<p>on behalf of the Innovation Resources Collaboration</p>