<section class="faq">
<div class="top" id="faq-title">
  <h1>FAQ</h1>
</div>

<div class="accordion">
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle1">
		<label for="accordionTitle1">I found a resource that has missing or incorrect information.</label>
		<div class="accordionContent">
      <p>When viewing the resource, please fill out the form at the top right of its page. Your assistance to keep this information up-to-date is appreciated!</p>
		</div>
	</div>
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle2">
		<label for="accordionTitle2">I want to add my organization, event, or other type of resource to this database.</label>
		<div class="accordionContent">
      <p>Follow the "Suggest a Resource" button at the top and fill out the displayed form.</p>
		</div>
	</div>
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle3">
		<label for="accordionTitle3">What should I do if certain functionality isn't working properly or if I notice any visual bugs?</label>
		<div class="accordionContent">
      <p>Please let us know! Navigate to the "Submit a Bug" page found in the right side of the navigation bar.</p>
		</div>
	</div>
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle4">
		<label for="accordionTitle4">Who should I contact if I have any questions for this website or for the database?</label>
		<div class="accordionContent">
      	<p>You can fill out the "Submit a Bug" form as a way to contact us. If you want to reach out to the main developer of this website, please send an email to: <b>abfranco@berkeley.edu</b></p>
		</div>
	</div>
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle5">
		<label for="accordionTitle5">Is there a way to access the database for data analysis or other types of projects?</label>
		<div class="accordionContent">
      	<p>We do have an API that can access all of the database's information. At the moment, only those with administrative capabilities can use it. API access to the public is planned to come in the future. If you have questions regarding this matter, please contact us via the "Submit a Bug" form.</p>
		</div>
	</div>
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle6">
		<label for="accordionTitle6">What is the purpose of the "Admin Login" and "Admin Registration" links in the navigation bar? Can I create an account for this website?</label>
		<div class="accordionContent">
      	<p>If you are a regular user accessing the database, you shouldn't be concerned about the "Admin" capabilities of this website. A functionality we have for this website app is that we can give certain people "Admin" capabilities to help maintain, fix, and keep up-to-date their resources or all resources in the database as a whole. In order to create an account, you will need to be provided with a "Registration Key" by us.</p>
		</div>
	</div>
</div>

</section>
