<section class="faq">
<h1 class="section-title">F.A.Q.</h1>

<dl class="faq-list">
  <dt class="faq-item-name">Can I suggest a resource?</dt>
  <dd class="faq-item-text">
    <p>Yes.</p>
  </dd>
  <dt class="faq-item-name">How do I suggest a resouce?</dt>
  <dd class="faq-item-text">
    <p>Follow the "Suggest a Resource" button at the top and fill out the displayed form.</p>
  </dd>
  <dt class="faq-item-name">How could I access the resouces?</dt>
  <dd class="faq-item-text">
    <p>Follow the "All Resources" button at the top.</p>
  </dd>
</dl>
</section>
