<section class="faq">
<div class="top" id="faq-title">
  <h1>F.A.Q.</h1>
</div>

<div class="accordion">
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle1" checked="">
		<label for="accordionTitle1">Can I suggest a resource?</label>
		<div class="accordionContent">
      <p>Yes.</p>
		</div>
	</div>
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle2">
		<label for="accordionTitle2">How do I suggest a resource?</label>
		<div class="accordionContent">
      <p>Follow the "Suggest a Resource" button at the top and fill out the displayed form.</p>
		</div>
	</div>
	<div class="accordionBlock">
		<input type="radio" name="accordionTitle" id="accordionTitle3">
		<label for="accordionTitle3">How could I access the resources?</label>
		<div class="accordionContent">
      <p>Follow the "All Resources" button at the top.</p>
		</div>
	</div>
</div>

</section>
