// Place all the styles related to the bug_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bug-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, label, input {
    display: block;
    margin: 32px auto;
    text-align: center;
  }
  h2#bug-desc {
    display: block; 
    font-size: 1.5em;
    margin: 32px auto;
    width: 75%;
  }
  label {
    margin-bottom: 16px;
  }
  input {
    margin-top: 16px;
  }
  #bug_report_desc, label {
    display: block;
    margin: 16px auto;
  }
  input[type="checkbox"] {
    text-align: center;
    display: block;
    width: auto;
  }
  .bug-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    label,input {
      margin: 32px 8px;
    }
  }

  #new-bug {
    margin-top: 32px;
  }
}

#bug-wrapper-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#bug-title {
  width: 25%;
  margin: 0 auto;
}
#bug-report-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.bug-report-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border: 1.5px solid lightgrey;
  transition: 250ms;
  margin: 16px;
  width: 80vw;
  .bug-report-desc-text {
    margin-right: auto;
    margin-bottom: 0;
    max-width: 40vw;
  }
}

.bug-report-description:hover {
  background-color: rgb(255, 238, 203);
  transition: 250ms;
}

.resource-container:hover {
  background-color: rgb(255, 238, 203);
  transition: 250ms;
}

.bug-btn {
  margin: 0px 32px;
}

