@import "bootstrap";

// @font-face {
//   font-family: 'Poppins';
//   src: url('https://fonts.googleapis.com/css?family=Poppins');
//   // src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
//   // src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
// }

#invoice-wrapper {
  font-family: 'SourceSansPro';
}
body {
  font-family: "Poppins", Arial, sans-serif;
}

#resource-container-wrapper {
  margin-top: 2.5rem;
 // border: solid red 1px;
}

.resource-container {
  border: solid grey .5px;
  border-radius: 15px;
  box-shadow: 1px 1px;
  margin-bottom: 1rem;
}

#filter-button {
  width: 50%;
}
#filter-column {
  border: solid black 1px;
  border-radius: 10px;
  margin: .5rem;
}
#filter-header {
  font-size: 2rem;
  text-align: center;
}
.filters {
  font-size: .8rem;
}
#association-name {
  font-size: 1.25rem;
  text-decoration: underline;
}

#resource-column {
  border: solid black 1px;
  border-radius: 10px;
  margin: .5rem;
}
#result-header {
  font-size: 2rem;
  text-align: center;
}
.resource-title {
  font-size: 1.5rem;
  color: orange;
}


// new.html styles

#suggest_top{
  width: 100%;
  height: 300px;
  background-color:#006D9D; 
  margin-bottom: 72px;
}

#suggest_top h1 {
  color: white;
  font-weight: 100;
  font-family: "Poppins-Light", Arial, sans-serif;
  font-size: 72px;
  padding: 48px 96px;
  width: 900px;
}

#instructions p {
  font-size: 24px;
  padding-left: 20%;
  width: 80%;
}

#suggest_form {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input_field {
  display: flex;
  flex-direction: column;
  justify-content: left;
  // flex: 1 0 40%;
}

input {
  width: 256px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px, solid, gray;
}

select {
  width: 256px;
  margin-bottom: 24px;
}

.submit {
  color: white;
  background-color: #198BCC;
  border: none;
  width: 256px;
  height: 64px;
  font-size: 32px;
  border-radius: 100px;
  transition: 500ms;
}

.submit:hover {
  background-color: #006D9D;
  transition: 500ms;
}


