input {
    width: 256px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: #F1F1F1;
    border: 1px solid lightgray;
    padding: 4px 8px;
    outline: none;
    transition: 500ms;
  }

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px;
}