<div id="bug-wrapper">

<h1>Feedback</h1>

<h2 id="bug-desc">You can contact us through this form to report bugs or submit feedback! Please be as detailed as possible.</h2>

<%= render 'form', bug_report: @bug_report %>

</div>

