<div id="bug-wrapper">

<h1>New Bug Report</h1>

<h2 id="bug-desc">Help this website's development by submitting a bug report. You can also offer any feedback through this form. Please be as detailed as possible.</h2>

<%= render 'form', bug_report: @bug_report %>

</div>

