<div id="bug-wrapper">

<p>
  <strong>Description:</strong>
  <%= @bug_report.desc %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @bug_report.closed %>
</p>

<div class="bug-navigation">
  <%= link_to 'Edit', edit_bug_report_path(@bug_report) %> |
  <%= link_to 'Back', bug_reports_path %>
</div>

</div>
